body,html {
	height:100%;
	margin:0;
	color:white;
	font-family: Montserrat;
}

.navbar {
	padding:25px 25px;
	background-color:;
}

#mynav {
	background-color:transparent;
	border:none;
	color:white;
}

#mynav a {
	color:white;
	font-size:15px;
	font-family:helvetica;
	padding-left:20px;
	margin-right:20px;
}

#mynav a:hover {
	text-decoration:underline;
}

#active {
	background-color:transparent;
}

#collapse {
	border:none;
	padding-bottom:;
}

#collapse a{
	padding-left:70%;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  color:red !important;
  border-bottom:solid 1px lightgray !important;
}

.scrolled a {
	color:black !important;
}

.bg {
	background-image:url("webb.jpg");
	height:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	opacity:0.9;
	width:100%;
}

.myicon {
	position:absolute;
	top:50%;
	left:10%;
	transform: translate(-50%, -50%);
	height:70px;
	width:70px;
	border-radius:50%;
	opacity:1;
}

#navbar.myicon {
	top:20% !important;
}

.myname {
	font-family:Dancing Script;
	position:absolute;
	top:27%;
	left: 50%;
    transform: translate(-50%, -50%);
	font-size:80px;
	color:white;
	letter-spacing:2px;
	word-spacing:2px;
}

.tag {
	font-family:Advent Pro;
	position:absolute;
	top:37%;
	left: 50%;
    transform: translate(-50%, -50%);
	font-size:35px;
	color:white;
	letter-spacing:2px;
	word-spacing:2px;
}


.myimg {
	height:180px;
	width:180px;
	border-radius:50%;
}

.hello{
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: black;
  font-family: Montserrat;
}

.myInfo {
  font-size: 20px;
  color: black;
  text-align: center;
  font-family: Montserrat;
}

.skills {
  font-size: 30px;
  font-weight: 600;
  color: black;
  text-align: center;
  font-family: Montserrat;
}

.skill-icon {
  height:80px;
  width: 80px;
}

.skill-name {
  font-size: 14px;
  font-weight: 600;
  font-family: Montserrat;
  color: black;
}

.skill-row {
  padding-left: 300px;
  padding-right: 300px;

}

.projects {
  font-size: 30px;
  font-weight: 600;
  color: black;
  text-align: center;
  font-family: Montserrat;
}

.works {
  padding-left: 350px;
  padding-right: 350px;
}
.work-head {
  font-size: 25px;
  color: black;
  font-weight: 600;
}

.work-body {
  font-size: 18px;
  color: black;
  font-weight: 500;
}

.work-link {
  color: black;
  font-size: 15px;
  text-decoration: underline;
}

.work-link:hover{
  color:blue;
  font-weight: 500;
}

footer {
	background-color:#a6a6a6;
	padding:15px 12px;
}

.social {
	text-align:center;
}



.social-icon {
	font-size:40px;
	color:black;
	padding:12px;
}

.fa-facebook:hover {
	color:#3B5998;
}

.fa-instagram:hover {
	color:#2C6A93;
}

.fa-twitter:hover {
	color:#55ACEE;
}

.fa-linkedin:hover {
	color:#007BB6;
}

.fa-at:hover {
	color:#dd4b39;
}


.fa-github:hover {
	color:#040204;
}

.foot {
	text-align:center;
	color:black;
	font-size:17px;
	font-family:helvetica;
}


@media screen and (max-width: 980px) {

	.myname {
	font-size:60px;
}

.tag {
	top:35%;
	font-size:35px;
}
.skill-icon {
	height:80px;
	width: 80px;
}
.skill-name {
	font-size: 13px;
}

.skill-row {
	padding-left: 30px;
	padding-right: 30px;
}
.works {
	padding-left: 30px;
	padding-right: 30px;
}
.social-icon {
	font-size:32px;
	padding:10px;
}

}

@media screen and (max-width: 680px) {

.myname {
	font-size:30px;

}

.tag {
	top:32%;
	font-size:15px;
}

.skill-icon {
	height:80px;
	width: 80px;
}
.skill-name {
	font-size: 13px;
}

.skill-row {
	padding-left: 30px;
	padding-right: 30px;
}
.works {
	padding-left: 30px;
	padding-right: 30px;
}

.foot {
	font-size:14px;
}

.social-icon {
	font-size:30px;
	padding:10px;
}

}
