body,html {
	height:100%;
	margin:0;
	color:white;
}

.navbar {
	padding:25px 25px;
	background-color:;
}

#mynav {
	background-color:transparent;
	border:none;
	color:white;
}

#mynav a {
	color:white;
	font-size:15px;
	font-family:helvetica;
	padding-left:20px;
	margin-right:20px;
}
 
#mynav a:hover {
	text-decoration:underline;
}

#active {
	background-color:transparent;
}

#collapse {
	border:none;
	padding-bottom:;
}

#collapse a{
	padding-left:70%;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  color:red !important;
  border-bottom:solid 1px lightgray !important;
}

.scrolled a {
	color:black !important;
}

.bg {
	background-image:url("webb.jpg");
	height:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	opacity:0.9;
	width:100%;
}

.myicon {
	position:absolute;
	top:50%;
	left:10%;
	transform: translate(-50%, -50%);
	height:70px;
	width:70px;
	border-radius:50%;
	opacity:1;
}
	
#navbar.myicon {
	top:20% !important;
}
	
.myname {
	font-family:Dancing Script;
	position:absolute;
	top:27%;
	left: 50%;
    transform: translate(-50%, -50%);
	font-size:5vw;
	color:white;
	letter-spacing:2px;
	word-spacing:2px;
}

.tag {
	font-family:Advent Pro;
	position:absolute;
	top:35%;
	left: 50%;
    transform: translate(-50%, -50%);
	font-size:2vw;
	color:white;
	letter-spacing:2px;
	word-spacing:2px;
}


.myimg {
	height:180px;
	width:180px;
	border-radius:50%;
}

.hi {
	text-align:center;
	padding-top:-10px;
	letter-spacing:2px;
	color:#66a3ff;
	font-family:helvetica;
	font-size:28px;
}

.myinfo {
	text-align:center;
	color:black;
	font-family:helvetica;
	font-size:23px;
}

footer {
	background-color:#a6a6a6;
	padding:25px 15px;
}

.social {
	text-align:center;
}
	
	
	
.social-icon {
	font-size:40px;
	color:black;
	padding:12px;
}

.fa-facebook:hover {
	color:#3B5998;
}

.fa-instagram:hover {
	color:#2C6A93;
}
 
.fa-twitter:hover {
	color:#55ACEE;
}

.fa-linkedin:hover {
	color:#007BB6;
}

.fa-at:hover {
	color:#dd4b39;
}

  
.fa-github:hover {
	color:#444444;
}

.foot {
	text-align:center;
	color:black;
	font-size:17px;
	font-family:helvetica;
}

.skill {
	text-align:center;
}

.skills {
	text-align:center;
	color:#66a3ff;
	font-family:helvetica;
}

.icon {
	font-size:110px;
	color:gray;
	padding:30px;
}