body,html {
  height:100%;
  margin:0;
  font-family: Montserrat;
}

.bg {
background-image:url("trianglify.png");
height:100%;
background-position:center;
background-size:cover;
opacity:0.9;
width:100%;
background-attachment: fixed;
}

.myImg {
  position:absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 185px;
  width: 185px;
  border-radius: 50%;
}

.myName {
  position:absolute;
  top:54%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: black;
  font-family: Montserrat;
  font-weight: 600;

}

.myName {
  position:absolute;
  top:54%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: black;
  font-family: Montserrat;
  font-weight: 600;

}

.tag {
  position:absolute;
  top:52%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: black;
  font-family: Montserrat;
  font-weight: 600;

}

.social {
	text-align:center;
  position:absolute;
  top:64%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.social-icon {
	font-size:30px;
	color:white;
	padding:9px;
}

.fa-facebook:hover {
	color:#3B5998;
}

.fa-instagram:hover {
	color:#2C6A93;
}

.fa-twitter:hover {
	color:#55ACEE;
}

.fa-linkedin:hover {
	color:#007BB6;
}

.fa-at:hover {
	color:#dd4b39;
}


.fa-github:hover {
	color:#444444;
}

.down-arrow {
  position:absolute;
  top:85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}

.down-arrow:hover {
  color:black;
}

.hello{
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: black;
  font-family: Montserrat;
}

.myInfo {
  font-size: 20px;
  color: black;
  text-align: center;
  font-family: Montserrat;
}

.navbar {
	padding:25px 25px;
	background-color:;
}

#mynav {
	background-color:white;
	border-bottom: 1px solid black;
	color:white;
}

#mynav a {
	color:black;
	font-size:20px;
	font-family:helvetica;
	padding-left:20px;
	margin-right:20px;
}

#mynav a:hover {
	text-decoration:underline;
}

#active {
	background-color:transparent;
}

#collapse {
	border:none;
	padding-bottom:;
}

#collapse a{
	padding-left:70%;
}

.myicon {
	position:absolute;
	top:50%;
	left:10%;
	transform: translate(-50%, -50%);
	height:70px;
	width:70px;
	border-radius:50%;
	opacity:1;
}

#navbar.myicon {
	top:20% !important;
}

.skills {
  font-size: 30px;
  font-weight: 600;
  color: black;
  text-align: center;
  font-family: Montserrat;
}

.skill-icon {
  height:100px;
  width: 100px;
}

.skill-name {
  font-size: 15px;
  font-weight: 600;
  font-family: Montserrat;
  color: black;
}

.skill-row {
  padding-left: 300px;
  padding-right: 300px;

}

.projects {
  font-size: 30px;
  font-weight: 600;
  color: black;
  text-align: center;
  font-family: Montserrat;
}

.works {
  padding-left: 350px;
  padding-right: 350px;
}
.work-head {
  font-size: 25px;
  color: black;
  font-weight: 600;
}

.work-body {
  font-size: 18px;
  color: black;
  font-weight: 500;
}

.work-link {
  color: black;
  font-size: 15px;
  text-decoration: underline;
}

.work-link:hover{
  color:blue;
  font-weight: 500;
}

.footer {
  color: white;
  background-color: gray;
  font-size: 12px;
  text-align: center;
  padding: 15px 15px;
}

@media screen and (max-width: 980px) {
  .myImg {
    height: 165px;
    width: 165px;
  }
  .myName {
    top:54%;
    left: 50%;
  }
  .social {
    top:64%;
    left: 49%;
  }
  .social-icon {
  	font-size:20px;
  	padding:8px;
  }
  .skill-icon {
    height:80px;
    width: 80px;
  }
  .skill-name {
    font-size: 13px;
  }

  .skill-row {
    padding-left: 30px;
    padding-right: 30px;
  }
  .works {
    padding-left: 30px;
    padding-right: 30px;
  }
  
}


@media screen and (max-width: 680px) {
  .myImg {
    height: 165px;
    width: 165px;
  }
  .myName {
    top:54%;
    left: 50%;
  }
  .social {
    top:64%;
    left: 49%;
  }
  .social-icon {
  	font-size:20px;
  	padding:6px;
  }
  .skill-icon {
    height:80px;
    width: 80px;
  }
  .skill-name {
    font-size: 13px;
  }

  .skill-row {
    padding-left: 30px;
    padding-right: 30px;
  }
  .works {
    padding-left: 30px;
    padding-right: 30px;
  }
}
